<section  id="projects" class="screencover">
    <div class="container">
        <div class="row">
            <div _ngcontent-ikx-c28="" class="col-sm-12 col-lg-12 col-md-12">
                <div class="row shadow-lg p-3 mb-5 mt-5 bg-body rounded">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <h2 class="text-center">Projects</h2>
                        <p class="text-center">Projects that I have worked on.</p>
                        <div class="projectContainer">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                                <div class="project-cart" style="margin-left: 1rem; margin-right: 1rem;">
                                    <img src="/assets/images/personal-profile-image.png" class="project-img">
                                    <h3 class="project-title">Personal Profile</h3>
                                    <i class="languages">Languages Used : Angular 14</i>
                                    <p class="project-description">
                                        Personal profile website has about section which contains my personal information and proffesional details like comapany details and work experience.
                                    </p>
                                    <p class="more-details-Btn"  (click)="showMoreDetails(0)">more details</p>
                                    <div  class="more-info" >
                                        <p>In the project section all projects that I have worked on are described. 
                                            Social information details and accounts link are provided in footer section.
                                            Technologies used : Angular, html, css.
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                                <div class="project-cart" style="margin-left: 1rem;margin-right: 1rem;">
                                    <img src="/assets/images/expo.jpg"  class="project-img">
                                    <h3 class="project-title">Spend Distributor</h3>
                                    <i class="languages">Languages Used : Java with spring boot framework, javascript, jquery, html, css for frontend.</i>
                                    <p class="project-description">
                                        Spend Distributor Application id designed to distribute the room, trip kind of expenditures among the group members.
                                    </p>
                                    <p class="more-details-Btn" (click)="showMoreDetails(1)">more details</p>
                                    <div  class="more-info">
                                        <p>Admin can create a group of respective members for spend distribution. 
                                            All authenticated members who spend money, can mark their entries in the group.
                                            In the analysis section the distributed spends can be analysed. 
                                        </p>
                                        <p>
                                            The graphical representation is provided for better understanding.
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>